@import url(https://fonts.googleapis.com/css?family=Raleway:100,600);

body{
  padding-top: 50px;
  background-color: #eeeeee;
  font-family: 'Raleway', sans-serif;

}

@import "navbar";

@import "left-nav";

@import "data-grid";

@import "footer-box";

@import "drop-down";

@import "section";

@import "background";

@import "rounded-corners";

@import "social-buttons";

@import "by-query-heading";

@import "margin-padding";

@import "info-box";



.carousel-inner img {
  margin: auto;
}

