.margin-10 {

  margin: 10px;

}

.mb-10 {

  margin-bottom:  20px;

}

.mb-20 {

  margin-bottom:  20px;

}


.mt-10 {

  margin-top: 10px;

}

.mt-7 {

  margin-top: 7px;
  float: right;
}


.mt-15 {

  margin-top: 15px;
}

.mt-18 {

  margin-top: 18px;
}

.mt-20 {

  margin-top: 20px;
}

.mt-25 {

  margin-top: 25px;
}

.mr-10 {

  margin-right: 10px;

}

.mr-25 {

  margin-right: 25px;
}

.ml-10 {

  margin-left: 10px;

}


.pt-20 {

  padding-top: 20px;
}

.pad-20 {

  padding: 20px;

}