.margin-10 {

  margin: 10px;

}


.mt-10 {

  margin-top: 25px;

}

.mt-25 {

  margin-top: 25px;
}

.mr-10 {

  margin-right: 10px;

}

.mr-25 {

  margin-right: 25px;
}

.ml-10 {

  margin-left: 10px;

}


.pt-20 {

  padding-top: 20px;
}

.pad-20 {

  padding: 20px;

}